header.header
    nav.nav.nav--tours
        a.nav__el(href='/') All Tours
    .header__logo 
        img(src='/img/logo-white.png' alt='Logo')
    nav.nav.nav--user
      if user
        a.nav__el.nav__el--logout Log Out
        a.nav__el.nav(href='/me')=user.name 
        img.nav__user-img(src=`/img/users/${user.photo}` alt='Foto')
      else   
        a.nav__el(href='/login') Ingresar
        a.nav__el.nav__el--cta(href='/signUp') Registrarse